@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f9fc;
  color: #191f28;
}

* {
  box-sizing: border-box;
}

button,
input {
  font: inherit;
}
